html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-family: "PT Serif", serif;
  line-height: 1.5rem;
  color: #222;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
}

header {
  padding: 0;
  margin: 0;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
  margin-top: 1em;
}

h2 {
  color: #3f1622;
  font-size: 1.5rem;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
}

figure {
  margin: 0 2.5rem;
}

nav > ol > li {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.25em;
  font-weight: normal;
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin: 0 0 1.5rem;
}

aside {
  font-size: 1.25rem;
}

blockquote {
  margin: 0 2rem;
  font-size: 1.5rem;
  line-height: 1.5em;
  font-style: italic;
}

blockquote > cite {
  font-size: .8rem;
}

h2 > ol {
  list-style-type: lower-alpha;
}

h2 > p {
  font-style: italic;
}

h2 > dt {
  font-weight: bold;
}

h2 > dd {
  margin: 0 2.5rem;
}

h2 > ul > li {
  list-style-type: circle;
  font-size: .8rem;
}

footer {
  font-size: .8rem;
}
